*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat";
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    gap: 1ch;
}

.main-image img{
   width: 100%; 
}


header{
    padding: 20px;
}

main{
    margin: 0px 20px;
}

header p{
    color: hsl(228, 12%, 48%);
    margin-block-end: 15px;
    letter-spacing: .5rem;
}

header h1{
    font-family: 'Fraunces';
}

.main-text p{
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    line-height: 1.3;
    margin-block-end: 20px;
}

.price{
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
}

.former-price{
    position: relative;
    top: -5px;
}

.btn{
    margin-block-start: 30px;
    display: flex;
    flex-direction: column;
}

.btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.btn img{
    width: 30px;
}


@media (min-width: 768px) {
    .container{
        flex-direction: row;
        /* width: 100%; */
        padding: 20px;
        height: 100vh;
    }

    .main-image{
        width: 25%;
    }

    .main-image img{
        /* width: 100%; */
    }

    .btn{   
        display: block;
    }

    header{
        width: 300px;
    }

    main{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding: 20px;
    }


    .main-text p{
        width: 300px;
    }
}

