*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 2rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.main-image img{
    width: 80%;
}
